<h1>Editing student report</h1>

<%= render "form", student_report: @student_report %>

<br>

<div>
  <%= link_to "Show this student report", @student_report %> |
  <%= link_to "Back to student reports", student_reports_path %>
</div>
