.box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: coral;
  transition: transform 5s;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
}

.box:hover {
  transform: scale(2) rotate(50deg) translate(100px, 100px)skew(20deg);
}