<span><%= link_to image_tag('Logo.png',height: 35), root_path %></span>

<span style="float:right; ">
<span style="padding: 50px 10px;"><%= link_to "Home", root_path%></span>|
<span style=" padding: 50px 10px;"><%= link_to "New student", new_student_report_path %></span>
</span>
